[Desktop Entry]
Version=1.0
Type=Application
Name=BrowseMES
Name[ru]=МЭС
Icon=/opt/client/icons/s11.png
Exec=python2 /opt/client/appendix/mes/main.py
Path=/opt/client
Terminal=false
StartupNotify=false
