[Desktop Entry]
Version=1.0
Type=Application
Name=Correct
Name[ru]=Корректор_свойств
Icon=/opt/client/icons/s11.png
Exec=python2 /opt/client/Correct/Correct.py
Path=/opt/client
Terminal=false
StartupNotify=false
