[Desktop Entry]
Version=1.0
Type=Application
Name=importReestr23
Name[ru]=ИмпортРеестр
Icon=/opt/client/icons/s11.png
Exec=python2 /opt/client/appendix/regional/r23/importReestr/importReestr.py
Path=/opt/client
Terminal=false
StartupNotify=false
