[Desktop Entry]
Version=1.0
Type=Application
Name=Kladr_Update
Name[ru]=КЛАДР
Icon=/opt/client/icons/s11.png
Exec=python2 /opt/client/appendix/kladr_update/main.py
Path=/opt/client
Terminal=false
StartupNotify=false